@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body {
        @apply bg-black text-warm-gray-100 dark:text-white 
    }
    h1 {
        @apply bg-black text-white dark:text-white text-2xl
    }
    h2 {
        @apply bg-black text-warm-gray-100 dark:text-white text-xl
    }
}



@layer utilities {
    .custom-underline {
        text-decoration: underline;
        text-underline-offset: 4px; /* Adjusts the underline to be 4px below the text */
    }
    .custom-underline2 {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}