@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white text-black-900 dark:bg-black text-gray-200;  /* Applying off-white color in both light and dark themes */
    }
    h1 {
        @apply bg-black text-white dark:text-white text-2xl;  /* h1 remains bright white for contrast */
    }
    h2 {
        @apply bg-black text-gray-900 dark:text-gray-200 text-xl;  /* Applying off-white color to h2 as well */
    }
}

@layer utilities {
    .custom-underline {
        text-decoration: underline;
        text-underline-offset: 4px; /* Adjusts the underline to be 4px below the text */
    }
    .custom-underline2 {
        text-decoration: underline;
        text-underline-offset: 2px; /* A smaller offset for a more subtle underline */
    }
}
